.row.app-content
  .col-3
    .container.text-center
      %img.rounded-circle{src: "https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg", style: "height:100px;width:100px;"}
      %h3 Anna Jenkins

      %span You are owed
      %h3 $45.60 CAD
    %hr
    .container.text-center
      %button.btn.btn-info Dashboard
      %button.btn.btn-info All Balances
  .col-6{style: "background-color:bisque;"}
  .col-3
    .container
      %h4.pad-top Friends
      %hr
      %table
        %tbody
          %tr
            %td
              .circle
            %td
              %em Baron Higglesworth
          %tr
            %td
              .circle
            %td
              %em Tawdree Smeltbottom
          %tr
            %td
              .circle.green
            %td Jane Doe
          %tr
            %td
              .circle
            %td
              %em Samethy Dundermifflin
          %tr
            %td
              .circle.green
            %td Dimple Waynerschaun
          %tr
            %td
              .circle
            %td
              %em Pal Ng
          %tr
            %td
              .circle
            %td
              %em Knicki Grange
          %tr
            %td
              .circle
            %td
              %em Swimothy Rutherford



