.container
  %h3 Log in Now!
  %form
    .form-group
      = text_field_tag :username, "", placeholder: "Username or email", class: "form-control"
    .form-group
      = text_field_tag :password, "", placeholder: "•••••••••", class: "form-control"
    .btn.btn-success Submit


