$grey: #CDD3D9;
$offwhite: #F1F7FD;
$offblack: #343a40;

.app-content {
  height: 100vh;
  overflow: auto;
  color: $offblack;
}

#account {
  height: 80vh;
  background-color: $offwhite;
}

table {
  td {
    padding: 0px 5px;
  }
}

.avatar {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.circle {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;

  &.green {
    background-color: #5cb85c;
  }
}

.text-center {
  text-align: center;
}

.circle-button {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;

  a {
    position: absolute;
    top: 105px;
    right: 55px;
    color: #fff;
  }
}

.header {
  position: relative;
  padding: 10px;
  background-color: $grey;

  h3 {
    display: inline-block;
  }

  .header-actions {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
}

.payments-list {
  background-color: $offwhite;
}

.no-padding {
  padding: 0;
}

.pad-content {
  padding: 15px;
}
