.container
  %h4.pad-top Friends
  %hr
  - if current_user.friendships.any?
    %table
      %tbody
        - current_user.friendships.each do |f|
          %tr
            %td
              .circle
            %td
              %em= f.friend_to(current_user)
  - else
    %p
      %em You have no friends :(

  %hr
  .container.no-padding.text-center
    = link_to "Add Friend", new_friendship_path, remote: true, "data-toggle" => "modal", "data-target" => "#modal-window", class: "btn btn-outline-success"
    #friendship-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
      .modal-dialog{:role => "document"}
        .modal-content
