.container.text-center
  %img.rounded-circle.avatar{src: current_user.avatar_url}
  %h3= current_user

  %span
  - if current_user.total_balance > 0
    %span You owe
    %h3.red $#{current_user.total_balance.round(2)} CAD
  - else
    %span You are owed
    %h3.green $#{current_user.total_balance.abs.round(2)} CAD
